<style>

  .district {
    border-radius: 6px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-family: helvetica;
    color: #F8F8F8;
  }

  .no-data {background-color: #CCCCCC;}
  .q1 {background-color: #acd1b2;}
  .q2 {background-color: #82ba8e;}
  .q3 {background-color: #56a36a;}
  .q4 {background-color: #1d8c47;}
  .q5 {background-color: #00792a;}

  /* Tooltip text */
  .district .tooltiptext {
      visibility: hidden;
      max-width: 300px;
      background-color: #fff;
      color: #666;
      text-align: left;
      padding: 1em;
      border: 3px solid #ccc;
      border-radius: 6px;

      /* Position the tooltip text*/
      position: absolute;
      z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .district:hover .tooltiptext {
      visibility: visible;
  }

  .map-and-legend {
   max-width: 850px;
   margin: auto;
   overflow: hidden;
   margin-bottom: 2em;
 }

 .carto-container {
   max-width: 600px;
   float: left;
   margin-right: 2em;
 }


  .legend {
      max-width: 210px;
      font-family: helvetica;
      float: left;
    }

    .legend h4 {
      margin-top: 0;
    }

    .legend ul {padding: 0;}

    .legend li {
      float: left;
      list-style-type: none;
      width: 200px;
      margin-bottom: 1em;
      font-size: .9em;
      line-height: 100%;
    }

    .legend li span {
      height: 20px;
      width: 20px;
      border-radius: 5px;
      display: block;
      float: left;
      margin-top: -2px;
      margin-right: 1em;
    }


</style>

{% for group in data %}
<div class="map-and-legend">
    <h4>{{group.title}}</h4>
    <div class="carto-container">
        <table class="carto {{group.chamber}}" style="border-collapse: separate; border-spacing: 3px;">

        {% for row in group.carto %}
            <tr>
              {% for col in row %}
              <td class="{% if col.name != ""%}district {% for class in col.classes %} {{class}}{% endfor %}{%endif%}">{{col.name}}{% if col.name != ""%}<span class="tooltiptext">{{group.chamber}} District {{col.name}}<br/>{{col.total}} spent</span>{%endif%}</td>
              {% endfor %}
            </tr>
        {% endfor %}

        </table>
    </div>
    <div class="legend">
      <h4>Legend</h4>
      <ul>
        {% for entry in group.legend %}
        <li><span class="{{entry.class}}">&nbsp;</span> {{entry.text}}</li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endfor %}



<!-- todo: custom legends

-->
